<div class='pb-page-title'>Attendance</div>
<div class="row">
    <div class="col-lg-2">
        <select class="form-control" [ngModel]="selectedYear" (ngModelChange)="onYearChange($event)">
            <option [value]=2015>2015</option>
            <option [value]=2016>2016</option>
            <option [value]=2017>2017</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control" [ngModel]="selectedMonth" (ngModelChange)="onMonthChange($event)">
            <option [value]=1>1</option>
            <option [value]=2>2</option>
            <option [value]=3>3</option>
            <option [value]=4>4</option>
            <option [value]=5>5</option>
            <option [value]=6>6</option>
            <option [value]=7>7</option>
            <option [value]=8>8</option>
            <option [value]=9>9</option>
            <option [value]=10>10</option>
            <option [value]=11>11</option>
            <option [value]=12>12</option>
        </select>
    </div>
    <div class="col-lg-6">
        <span class="tag weekend font-12 top-luggage-10"> Weekend</span> |
        <span class="tag leave font-12 top-luggage-10"> Leave </span> |
        <span class="tag holiday font-12 top-luggage-10"> Holiday </span> 
    </div>
</div>
<div class="clearboth"></div>
<table class="table">
    <tr>
        <th>Day</th>
        <th></th>
        <th>Status</th>
        <th>In time</th>
        <th>Out time</th>
        <th>Total time</th>
        <th>Remark</th>
        <th>Holiday name</th>
    </tr>
    <tr *ngFor="let att of attendance" [ngClass]="setClasses(att)">
        <td>{{att.day}}</td>
        <td>{{att.nameOfDay}}</td>
        <td>{{att.status}}</td>
        <td>{{att.inTime | date: 'hh:mm a'}}</td>
        <td>{{att.outTime | date: 'hh:mm a'}}</td>
        <td>{{att.totalTime}}</td>
        <td>{{att.remark}}</td>
        <td>{{att.holidayName}}</td>
    </tr>
</table>